
html, body {
  height: 100%;
}

body {
  color: #353535;
}

/******************************************
* VARIABLES
*******************************************/

$spacing-unit: 10px;
$sans-serif: "Lato", sans-serif;


/* URBAN COLORS */
$cyan: #1696D2;
$gray: #D2D2D2;
$black: #000000;

$yellow: #FDBF11;
$magenta: #EC008B;

$space-gray: #5C5859;
$green: #55B748;
$red: #DB2B27;

$copy-black: #353535;

/* CYANS */
$cyan-1: #CFE8F3;
$cyan-2: #A2D4EC;
$cyan-3: #73BFE2;
$cyan-4: #46ABDB;
$cyan-5: #1696D2;
$cyan-6: #12719E;
$cyan-7: #0A4C6A;
$cyan-8: #062635;

/* GRAYS */
$gray-1: #F5F5F5;
$gray-2: #ECECEC;
$gray-3: #E3E3E3;
$gray-4: #DCDBDB;
$gray-5: #D2D2D2;
$gray-6: #9D9D9D;
$gray-7: #696969;
$gray-8: #353535;

/* ORANGE */
$orange-1: #FFF2CF;
$orange-2: #FCE39E;
$orange-3: #FDD870;
$orange-4: #FCCB41;
$orange-5: #FDBF11;
$orange-6: #E88E2D;
$orange-7: #CA5800;
$orange-8: #843215;

/* MAGENTAS */
$magenta-1: #F5CBDF;
$magenta-2: #EB99C2;
$magenta-3: #E46AA7;
$magenta-4: #E54096;
$magenta-5: #EC008B;
$magenta-6: #AF1F6B;
$magenta-7: #761548;
$magenta-8: #351123;

/* GREENS */
$green-1: #DCEDD9;
$green-2: #BCDEB4;
$green-3: #98CF90;
$green-4: #78C26D;
$green-5: #55B748;
$green-6: #408941;
$green-7: #2C5C2D;
$green-8: #1A2E19;

/* SPACE-GRAYS */
$space-gray-1: #D5D5D4;
$space-gray-2: #ADABAC;
$space-gray-3: #848081;
$space-gray-4: #5C5859;
$space-gray-5: #332D2F;
$space-gray-6: #262223;
$space-gray-7: #1A1717;
$space-gray-8: #0E0C0D;

/* REDS */
$red-1: #F8D5D4;
$red-2: #F1AAA9;
$red-3: #E9807D;
$red-4: #E25552;
$red-5: #DB2B27;
$red-6: #A4201D;
$red-7: #6E1614;
$red-8: #370B0A;



/* VARS FOR THIS GFX */

// really this is half timeline width
$timeline-width: 100px;



@import "header";
@import "footer";



body{
  color: #353535;
  font-family: "Lato", sans-serif;
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
}

a {
  color: #1696d2;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: $cyan-6;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 125%;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 15px;
  text-align: center;
}

hr {
  border-color: #d2d2d2;
  border-top: 2px;
  margin: 0 0 80px 0;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin: 28px 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
    li {
      display: inline;
    }
}

:focus {
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: $copy-black;
    outline-style: auto;
    outline-width: 1px;
}

.button {
  background-color: $cyan;
  color: #FFFFFF;
  cursor: pointer;
  display: inline;
  margin: 10px 10px 10px 0;
  padding: 10px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #12719E;
}

.conclusion {
  h4 {
    font-size: 22px;
    font-weight: bold;
  }

  h4.takeaways {
    margin: 0;
  }

  h5 {
    font-size: 18px;
    font-weight: 400;
    color: $gray-6;
    margin: 10px 0 0 0;
  }

  #policy-actions, #findings {
    ul {
      margin-bottom: 50px;
      margin-top: 10px;
      list-style-type: disc;
      li {
        display: list-item;
        font-size: 18px;
        margin-left: 50px;
        margin-bottom: 20px;
        width: 80%;
      }
    }
  }

  p.first {
    margin: 18px 0 28px 0;
  }

  p.last {
    padding-bottom: 20px;
  }

  .see-more-btn {
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 48px;
    margin-top: -4px;

      svg {
        fill: $cyan;
        padding-left: 3px;
        height: 14px;
        width: 14px;
      }
  }

  .see-more-btn.see-less {
    margin-bottom: 15px;

      svg {
        path.vertical {
          display: none;
        }
      }
  }

  .see-more-container {
    display: none;
    font-size: 20px;


  }

}


.clear {
   content: "";
    display: block;
    clear: both;
}

#credit-health-hed {
  display: block;
  margin: 130px auto 40px auto;
  max-width: 80%;
}

.date-line {
  color: #696969;
  font-size: 14px;
  margin: 0;
  padding-bottom: 32px;
  text-align: center;
}

.mobile-only {
  display: none;
}

.small-well {
  margin: 0 auto;
  // max-width: 650px; <- I think this is the template small well
  max-width: 760px;

}

.small-well.intro {
  border-top: 1px solid #D2D2D2;
  padding-top: 50px;
}


.text-wrapper {
  margin: 100px auto 80px auto;
  max-width: 1150px;
  padding-top: 20px;
  width: 80%;
}

.text-wrapper.below-map {
  padding-top: 80px;
}

.ui-icon {
  display: none !important;
}






/* CHART STYLES */



/*.county-borders {
  stroke: #ffffff;
}*/
.line-chart-key {
  margin-right: 30px;
  padding-left: 5px;
}

.line-chart-key.all {
  border-left: 5px solid #000000;
}

.line-chart-key.coc {
  border-left: 5px solid #FDBF11;
}

.line-chart-key.whi {
  border-left: 5px solid #EC008B;
}

.line-chart-key.us {
  border-left: 5px solid #1696d2;
}

.domain {
  display: none;
}

.tick {
  line {
    stroke: $gray-4;
    display: none;
  }

  rect.underscore {
    fill-opacity: 0;
  }
}

g.grid > g > line {
 stroke: $gray-4;
  display: inline;
}

g.grid > g:nth-child(2) > text {
  display: none;
}

.tick {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 400;
    text {
      font-size: 12px;
    }
}

  // rect.click-catcher {
  //   stroke: red;
  //   fill: none;
  //   stroke-width: 1px;
  //   fill-opacity: 1;
  // }


.tick.selected {
  font-weight: 700;
}

.tick.moused {
  font-weight: 700;
}

.tick.selected::after {
  content: '';
  border-bottom: 1px solid red;
}

.hed {
  margin-bottom: 0;
}


//the zero line
svg > g > g.grid > g:nth-child(2) > line {
  stroke: #000000;
}


/* GRAPHIC */

.chart-note {
  font-size: 11px;
  line-height: 1.3;
  margin-bottom: 30px;
  margin-top: 5px;
}


#main-viz-container {
  margin: 0 auto;
  max-height: 100%;
  max-width: 1300px;
  padding: 0 2%;
}

#map-container {
  display: inline-block;
  margin-right: 2%;
  width: 52%;
  // width: calc(60% - #{$timeline-width});

    h4 {
      font-size: 14px;
      font-weight: 400;
      margin: 40px 0 0 0;
      text-transform: uppercase;

        .title-measure-name {
          font-weight: 700;
        }
    }

    svg.map {
      overflow: hidden; //for IE
    }


    p.chart-note {
      margin-top: 0;
    }

}

.counties.selected {
  stroke-width: 3;
  stroke: $yellow;
}



#median-credit-and-race-chart {
  margin-top: 15px;
}


h3#measure-menu-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 48px;
  text-align: center;
}

#line-chart-container {
  display: inline-block;
  float: right;
  width: 30%;
    h4.hed {
      line-height: 1.3;
      font-size: 18px;
      font-weight: 700;
      margin: 0 0 8px 0;
    }
}

.policymakers {
  display: inline-block;
  margin-bottom: 20px;
}

.inline-chart {
  display: inline-block;
  float: left;
  // height: 355px;
  margin-bottom: 20px;
  width: 52.6%;
    h3 {
      margin: 0 0 8px 0;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.3;
    }

    p {
      font-size: 16px;
      padding-top: 0 !important;
      margin: 0;
    }

    p.chart-note {
      font-size: 11px;
      margin-top: 5px;
    }

    span {
      border-bottom: 2px solid $yellow;
      font-size: 16px;
      padding-bottom: 5px;
    }
}

.inline-chart.left {
  margin-right: 40px;
}

.inline-chart.right {
  float: right;
  margin-left: 40px;
}

.inline-chart > svg > g > path.selected {
  stroke: $yellow;
  stroke-width: 3px;
}


.mobile-wrapper.chart-note {
  display: none;
}


// bad names, this is the map's legend
#legend-container {
  display: inline-block;


    ul#legend {
      margin: 8px 0;
      li:first-of-type {
        margin-left: 0;
      }
      li {
        margin-left: 15px;
        padding-left: 8px;
      }
    }

}

ul#readout {
  margin-top: 5px;
  white-space: nowrap;
  li {
    font-size: 18px;
    margin-right: 40px;
    padding-bottom: 2px;
      span.pct {
        color: $cyan;
      }
  }

  li.mouse-mate {
    border-bottom: 2px solid $yellow;
  }


}

ul.us-legend {
  margin: 0;
  div {
    bottom: 5px;
    display: inline-block;
    margin-right: 4px;
    position: relative;
    width: 15px;
  }

  li {
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
  }

  li.nationall {
    width: 100%;
  }

  li.nationall::after {
    content: 'Communities that are majority:';
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin: 3px 0;
  }

  li.nationall > div {
    border-top: 2px solid #FDBF11;
  }

  li.nationapi > div {
    border-top: 2px solid #0A4C6A;
  }

  li.nationbla > div {
    border-top: 2px solid #1696D2;
  }

  li.nationlat > div {
    border-top: 2px solid #EC008B;
  }

  li.nationnat > div {
    border-top: 2px solid #9D9D9D;
  }

  li.nationwhi > div {
    border-top: 2px solid #55B748;
  }

  li.stateall > div {
    border-top: 2px solid #FDBF11;
  }

  li.statecoc > div {
    border-top: 2px solid #55B748;
  }

  li.statewhi > div {
    border-top: 2px solid #1696D2;
  }

  li.stateus-all > div {
    border-top: 2px solid #000000;
  }

  li.countyct-all > div {
    border-top: 2px solid #FDBF11;
  }

  li.countyct-coc > div {
    border-top: 2px solid #55B748;
  }

  li.countyct-whi > div {
    border-top: 2px solid #1696D2;
  }

  li.countyus-all > div {
    border-top: 2px solid #000000;
  }

  li.countyst-all > div {
    border-top: 2px solid #9D9D9D;
  }
}

#svg-container {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: -100%;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  vertical-align: top;
  width: 12%;
}

#vertical-timeline {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  .st1{fill:none;stroke:#D2D2D2;stroke-width:4;}
  .st2{fill:#1696D2;}
  .st3{fill:#9D9D9D;}
  .dot-hilite {
    fill:#1696D2;
    // fill-opacity:0;
    // visibility: hidden;
  }

  .timeline-marker-dot{fill:#9D9D9D;}
  .dot-hilite{fill:#1696D2;fill-opacity:0.4;}
  .inner-dot{fill:#1696D2;}

  g {
    cursor: pointer;
  }

  .clicked > .dot-hilite {
    fill-opacity: 0.4;
    // visibility: visible !important;
  }

  .clicked > text {
    font-weight: 700;
  }

  .unclicked > .dot-hilite  {
    fill-opacity: 0;
    // visibility: hidden;
  }

  .moused > .dot-hilite {
    fill-opacity: 0.4;
  }

  .moused > .month-label {
    fill: $black;
    font-weight: 700;
  }

  .month-label{
        fill: $gray-7;
    font-weight: 400;
    font-size:18px;
  }

  .clicked > .month-label {
    fill: $black;
    font-weight: 700;
  }

  .timeline-month {
    font-size: 18px;
    font-weight: bold;
    // visibility: hidden;
  }

}

.chart-tooltip {
  background-color: #FFFFFF;
  border: 1px solid #D2D2D2;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  width: 200px;
}

.chart-tooltip:after, .chart-tooltip:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.chart-tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 20px;
  margin-left: -20px;
}
.chart-tooltip:before {
  border-color: rgba(210, 210, 210, 0);
  border-top-color: #d2d2d2;
  border-width: 21px;
  margin-left: -21px;
}

.foot-share {
  display: inline-block;
    float: right;
    width: 30%;
}

.timeline-tooltip {
  background-color: #FFFFFF;
  border: 1px solid #D2D2D2;
  display: none;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  width: 200px;
}
// ever helpful: https://cssarrowplease.com/;
.timeline-tooltip:after, .timeline-tooltip:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.timeline-tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 20px;
  margin-top: -20px;
}
.timeline-tooltip:before {
  border-color: rgba(210, 210, 210, 0);
  border-right-color: #d2d2d2;
  border-width: 21px;
  margin-top: -21px;
}

.zoom-btn-wrapper {
  background-color: #FFFFFF;
  float: right;
  opacity: 0.8;
  position: relative;
  right: 10px;
  top: -70px;
    img {
      width: 50px;
    }
}

.ui-selectmenu-text {
    font-size: 22px;
  font-weight: 700;
  top: 0;
  width: 360px;
}

.ui-selectmenu-button.ui-button {
  width: 310px;
}


#dropdown-button {
  background-color: #FDD870;
  width: 395px;
}

  #nation-scoreboard, #state-county-scoreboard {

      table {
        border-collapse: separate;
        border-spacing: 0px 8px;

        margin: 0 auto;
        table-layout: auto;
        width: 90%;
          td {
            vertical-align: bottom;
            line-height: 1.2;
          }

          td.val {
            font-weight: 700;
          }
      }
  }


// select2




#map-header > span > span.selection > span > ul > li > input {
  font-family: Lato;
  font-size: 18px;
}

span.selection > .select2-selection {
  background: url(../images/search-icon.png) no-repeat right #ffffff;
}

.select2-selection__choice {
  position: absolute;
  left: 105%;
}


.select2-selection__choice__remove {
   float: right;
   margin-right: -18px !important;
   margin-left: 2px;
}

.select2-container .select2-search--inline .select2-search__field {
  margin-top: 2px !important;
  margin-left: 5px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: $cyan !important;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #D2D2D2 !important;
  border-radius: 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #ECECEC !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 10px 30px 10px 10px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin: 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 8px 5px 0 5px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  top: 0;
}

.select2-selection.select2-selection--multiple {
  height: 45px;
}
// https://stackoverflow.com/questions/118241/calculate-text-width-with-javascript
#text-measurer {
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.tick > text {
  fill: #696969;
}

ul li.select2-results__option {
  display: block;
}

ul#line-legend {
  cursor: pointer;
  margin-bottom: 10px;

    .noData {
      display: none;
    }
}

// TOOLTIPS


.share-wrapper {
  // position: relative;
}

#share-tooltip {
  background: #ffffff;
  // bottom: 60px;
  display: none;
  border: 1px solid #d2d2d2;
  height: 95px;
  position: absolute;
  // right: 95px;
  width: 320px;

  .copy-button {
    position: relative;
    left: 37px;
    top: 20px;
    display: inline-block;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    padding: 11px;
    font-size: 14px;
    cursor: pointer;
  }

  .share-text {
    display: inline-block;
    width: 180px;
    height: 40px;
    top: 20px;
    left: 20px;
    position: relative;
    padding-left: 10px;
    font-size: 14px;
    font-family: Lato;
    text-overflow: ellipsis;
  }

  .copied-text {
    top: 64px;
    left: 20px;
    font-size: 14px;
    font-style: italic;
    color: #1696d2;
    position: absolute;
    display: inline-block;
    opacity: 0;
  }
}

#share-tooltip:after, #share-tooltip:before {
  top: 100%;
  left: 30%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#share-tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 20px;
  margin-left: -20px;
}
#share-tooltip:before {
  border-color: rgba(210, 210, 210, 0);
  border-top-color: #d2d2d2;
  border-width: 21px;
  margin-left: -21px;
}


#mobile-nation-scoreboard, #mobile-state-county-scoreboard {
  display: none;
}

.state-lines {
  margin-bottom: 30px;

}

@media (max-width: 800px) {

  .state-lines {
    margin-bottom: 0px;
      svg {
        position: relative;
        z-index: 1;
      }
  }

  p {
    font-size: 18px;
    line-height: 1.75;
    margin: 30px 0;
  }

  h1 {
    font-size: 36px;
  }

  h3#measure-menu-title {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    text-align: left;
  }

  hr {
    display: block;
    margin-bottom: 40px;
  }

  :focus {
    outline: none;
  }

  .button {
    margin-bottom: 0;
  }

  #nation-scoreboard.chart-tooltip, #state-county-scoreboard.chart-tooltip {
    opacity: 0 !important;
  }

  #dropdown-button {
    background-color: #FFFFFF;
    width: 100%;
  }

  .inline-chart.right {
    float: none;
    margin-left: 0;
    width: 100%;
  }


  #line-chart-container {
    display: block;
    // float: none;
    margin: 0 auto;
    width: 100%;

      h4.hed {
        margin: 0 5% 10px 5%;
      }

      ul#line-legend {
        margin-left: 5%;
      }

      .state-lines {
        display: block;
        margin-bottom: 5px;
        margin-left: 5%;
        width: 90%;
      }


  }

  #main-viz-container {
    padding: 0;
    // width: 90%;
  }

  #main-viz-container > div:nth-child(3) {
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 40px;
  }

  #main-viz-container > div.text-wrapper {
    padding-top: 15px;
  }

  #map-container {
    display: none;
  }

  #mobile-nation-scoreboard {
    display: block;
  }

  #mobile-nation-scoreboard, #mobile-state-county-scoreboard {
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    margin-top: -17px;
    padding-bottom: 15px;
    position: relative;
    z-index: 0;

      table {
        border-collapse: separate;
        border-spacing: 0px 4px;
        font-size: 14px;

        margin: 0 auto;
        table-layout: auto;
        width: 90%;
          td {
            vertical-align: bottom;
            line-height: 1.2;
          }

          td.val {
            font-weight: 700;
          }
      }

    .cl2 {
      padding-left: 12px;
    }

    .selected-month {
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      margin-left: 5%;
      margin-top: 15px;
      margin-bottom: 5px;
    }

  }

  .menu {
    border-top: 1px solid #D2D2D2;
    padding: 1px 5%;
  }

  .mobile-only {
    display: block;
  }

  .mobile-wrapper {
    margin: 0 auto;
    width: 90%;
  }

  .mobile-wrapper.chart-note {
    display: inline-block;
    margin-top: 20px;
    margin-left: 5%;
  }


  #shareUrlBtn {
    display: inline-block;
    margin-left: 5%;
    margin-top: 20px;
  }

  .sentence-wrapper {
    display: none;
  }

  #svg-container {
    display: none;
  }

  .text-wrapper {
    margin-bottom: 40px;
    width: 90%;
  }

  .text-wrapper.below-map {
    padding: 0;
    margin: 80px auto;
  }

  .tick {
    rect.underscore {
      fill-opacity: 0;
    }
  }

  .tick.selected {
    text {
     fill: $cyan;
    }

    rect.underscore {
      fill-opacity: 1;
    }
  }


  .ui-selectmenu-button.ui-button {
    background: url(../images/blue-dropdown-bg.png) no-repeat right #ffffff;
    background-size: 30px 20px;
    width: 100%;
  }

  .ui-selectmenu-text {
    font-size: 16px;
    font-weight: 400;
    left: 0;
    margin-top: 12px;
  }
}
